@import "reset.styl"
@import "nib/vendor"
vendor-prefixes = webkit moz o ms official

header_background = #333
body_background = #CCC
body_foreground = #000
header_foreground = #CCF
input_background = #335
input_foreground = #999
error_background = #FCC
error_foreground = #900
world_background = #000

#header
	width 100vw
	max-width 100vw
	height 15vh
	max-height 15vh
	background-color header_background
	display flex
	align-items center
	flex-flow row
	justify-content flex-end
	color header_foreground

input:not([type="button"])
	border solid 1px transparent
	background-color input_background
	color input_foreground
	&:focus
		outline none
		border-color lighten(input_background,50%)
		box-shadow 0 0 5px lighten(input_background,50%)
	placeholder((font-style italic) (text-align center))

#login
	width 20vw
	padding 1em	
	flex 0 1 auto
	order 1
	.loginField
		width 100%
		border solid 1px header_background
		background-color input_background
		color input_foreground
		&:focus
			outline none
			border-color lighten(input_background,50%)
			box-shadow 0 0 5px lighten(input_background,50%)
		placeholder((font-style italic) (text-align center))
	.loginButton
		float right
		clear none
		width 50%
#content
	background-color body_background
	height 85vh
	width 100vw
	display flex
	flex-flow row nowrap
	align-items center
	justify-content center
	align-content center
#register
	width 50vw
	padding 1em
	margin 0 auto
	display flex
	flex-flow column
	.registerField
		width 70%
		border solid 1px body_background
		background-color input_background
		color input_foreground
		align-self center
		&:focus
			outline none
			border-color lighten(input_background,50%)
			box-shadow 0 0 5px lighten(input_background,50%)
		placeholder((font-style italic) (text-align center))
	.registerButton
		width 20%
		align-self flex-end

#languageBar
	flex 0 1 auto
	order 0
	font-family 'Arial', 'Helvetica', sans-serif
	font-size 18pt
	display flex
	flex-flow column
	align-items center
	.label
		flex 0 1 auto
		order 0
	#languageChooser
		flex 0 1 auto
		order 1
		text-align center
		background-color input_background
		color input_foreground
		option
			text-align center // some day, maybe...
			font-size 12pt


modal-dialog(c)
	display block
	background-color c
	color dark(c) ? lighten(c,90%) : darken(c,90%)
	width 50vw
	border solid 3px darken(c,75%)
	padding 1em
	font-family 'Arial', 'Helvetica', sans-serif
	margin-top -40vh
	h1
		text-align center
		font-size 16pt
		hline_color = dark(darken(c,5%)) ? #000 : #FFF
		border-bottom solid 1px hline_color
	p
		font-size 12pt
		text-indent 2em
		padding 1em

#error
	modal-dialog(error_background)

#message
	modal-dialog(#99F)

#verifyPasswordForm
	display flex
	flex-flow column nowrap
	align-items center
	width 30%
	margin 0 auto
	#verifyPasswordSubmit,#verifyPasswordInput
		width 100%

#infobox
	display flex
	flex-flow column nowrap
	align-items center
	flex 0 1 auto
	order 1
	padding 0 2em
	h1
		font-family 'Arial', 'Helvetica', sans-serif
		font-size 18pt
		text-align center
	#username
		color #990

#world
	width 100vw
	height 85vh
	position absolute
	top 15vh
	left 0
	background-color world_background
#hud
	width 100vw
	height 85vh
	position absolute
	top 15vh
	left 0
	background-color transparent