#login
	input#loginUsername.loginField(type="text",placeholder="#{t('login.email_address')}")
	input#loginPassword.loginField(type="password",placeholder="#{t('login.password')}")
	input#registerButton.loginButton(type="button",value="#{t('login.register')}")
	input#loginSubmit.loginButton(type="button",value="#{t('login.submit')}")