#login
	input#loginUsername.loginField(type="text",placeholder="#{t('email_address')}")
	input#loginPassword.loginField(type="password",placeholder="#{t('password')}")
	input#registerButton.loginButton(type="button",value="#{t('register')}")
	input#loginSubmit.loginButton(type="submit",value="#{t('login')}")